.row.clearmargin.clearpadding.row-image-txt {
  border-radius: 3px;
}

img, svg {
}

.odimg {
  height: 250px;
}

img, svg {
}

img, svg {
}

img, svg {
}

.dh-header-non-rectangular-container h1, p {
  color: white;
  font-weight: bold;
}

.clearmargin {
  margin: 0px;
}

.clearpadding {
  padding: 0px;
}

.row-image-txt {
  background-color: rgb(42,42,42);
}

.row-image-txt p {
  color: white;
}

.dh-header-non-rectangular-container h1, p {
  color: rgb(0,0,0);
  font-weight: bold;
}

.clearmargin {
  margin: 0px;
}

.clearpadding {
  padding: 0px;
}

.row-image-txt {
  background-color: rgb(42,42,42);
}

.row-image-txt p {
  color: white;
}

img, svg {
}

img, svg {
}

img, svg {
}

img, svg {
}

img, svg {
}

img, svg {
}

img, svg {
}

img, svg {
}

img, svg {
}

.pcard {
  background: linear-gradient(rgb(97,149,255) 0%, rgb(77,170,255) 27%, rgb(64,152,255) 49%, rgb(36,150,255));
}

.otherdivrow .col-md-3 {
  margin-bottom: 30px;
}

span a {
  font-weight: 600;
  color: black !important;
}

